imgur_anon_id=""
imgur_icon_path="$HOME/Pictures/imgur.png"
imgur_acct_key="" # this
imgur_secret="" # this
login="true"
album_title=""
album_id="" # this
credentials_file="$HOME/.config/imgur-screenshot/credentials.conf"
save_file="false"
file_name_format="imgur-%Y_%m_%d-%H:%M:%S.png" # when using scrot, must end with .png!
file_dir="/tmp/"
upload_connect_timeout="5"
upload_timeout="120"
upload_retries="2"
screenshot_select_command="scrot -s %img" # OS X: "screencapture -i %img"
screenshot_window_command="scrot %img" # OS X: "screencapture -iWa %img"
edit_command="gimp %img"
edit="false"
exit_on_selection_fail="true"
edit_on_selection_fail="false"
exit_on_album_creation_fail="true"
open_command="xdg-open %url" # OS X: "open %url"
open="false"
log_file="/tmp/.imgur-screenshot.log"
copy_url="true"
keep_file="false"
check_update="false"
