#include </home/pockata/dotfiles/x/synthwave>
! Colors
*background:   bg
*foreground:   fg
*cursorColor:  wht

*color0:      blk
*color8:      bblk
*color1:      red
*color9:      red
*color2:      grn
*color10:     grn
*color3:      ylw
*color11:     ylw
*color4:      blu
*color12:     blu
*color5:      mag
*color13:     mag
*color6:      cyn
*color14:     cyn
*color7:      wht
*color15:     wht

!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.autohint:   0
Xft.hinting:    1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

! Rofi
rofi.color-enabled: true
rofi.color-window: #2b303b, #c0c5ce, #c0c5ce
rofi.color-normal: #2b303b, #c0c5ce, #2b303b, #4f5b66, #eee8d5
rofi.color-active: #2b303b, #96b5b4, #2b303b, #4f5b66, #96b5b4
rofi.color-urgent: #2b303b, #bf616a, #2b303b, #4f5b66, #bf616a
rofi.fixed-num-lines: true
rofi.width: 500
rofi.lines: 10
rofi.fuzzy: true
rofi.font: JetBrains Mono Medium 12
rofi.o: 100
rofi.bw: 2
rofi.hide-scrollbar: true
rofi.separator-style: none
