! Base16 Ocean
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2b303b
#define base01 #343d46
#define base02 #4f5b66
#define base03 #65737e
#define base04 #a7adba
#define base05 #c0c5ce
#define base06 #dfe1e8
#define base07 #eff1f5
#define base08 #bf616a
#define base09 #d08770
#define base0A #ebcb8b
#define base0B #a3be8c
#define base0C #96b5b4
#define base0D #8fa1b3
#define base0E #b48ead
#define base0F #ab7967

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base09
*.color10:      base01
*.color11:      base02
*.color12:      base04
*.color13:      base06
*.color14:      base0F
*.color15:      base07

!-- Xft settings -- !
Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.autohint:   0
Xft.hinting:    1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull

URxvt*scrollBar: false
URxvt*internalBorder: 4

URxvt*scrollTtyOutput:  false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress:  true

! Enables copy/paste
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt*allow_bold: true
URxvt*font:xft:Meslo LG M DZ for Powerline:style=regular:pixelsize=15

! Enables ctrl+; binding in Vim
URxvt.keysym.C-semicolon: \033[;
!URxvt*transparent: true
!URxvt*shading: 30
!URxvt*inheritPixmap: true

! Rofi
rofi.color-enabled: true
rofi.color-window: #2b303b, #c0c5ce, #c0c5ce
rofi.color-normal: #2b303b, #c0c5ce, #2b303b, #4f5b66, #eee8d5
rofi.color-active: #2b303b, #96b5b4, #2b303b, #4f5b66, #96b5b4
rofi.color-urgent: #2b303b, #bf616a, #2b303b, #4f5b66, #bf616a
rofi.fixed-num-lines: true
rofi.width: 500
rofi.lines: 10
rofi.fuzzy: true
rofi.font: Meslo LG M DZ for Powerline 12
rofi.o: 100
rofi.bw: 2
rofi.hide-scrollbar: true
rofi.separator-style: none
