! TokyoNight colors for Xresources

*background: #24283b
*foreground: #c0caf5

*color0: #1d202f
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

!-- Xft settings -- !
Xft.dpi:        102
Xft.antialias:  1
Xft.rgba:       rgb
Xft.autohint:   0
Xft.hinting:    1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight

! Rofi
! TODO: Rofi dropped support for Xresources. Migrate theme to new format (Rasi)
rofi.color-enabled: true
rofi.color-window: #2b303b, #c0c5ce, #c0c5ce
rofi.color-normal: #2b303b, #c0c5ce, #2b303b, #4f5b66, #eee8d5
rofi.color-active: #2b303b, #96b5b4, #2b303b, #4f5b66, #96b5b4
rofi.color-urgent: #2b303b, #bf616a, #2b303b, #4f5b66, #bf616a
rofi.fixed-num-lines: true
rofi.width: 500
rofi.lines: 10
rofi.fuzzy: true
rofi.font: JetBrains Mono Medium 12
rofi.o: 100
rofi.bw: 2
rofi.hide-scrollbar: true
rofi.separator-style: none
